<ion-header>
  <ion-navbar  >
      <button  menuToggle  ion-button >
          <ion-icon name='menu'></ion-icon>
      </button>
    <ion-title>
      Kol Avrohom
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-nav #mycontent [root]="rootPage"></ion-nav>

<ion-content>


  <div id='custom-segement'>
        <div id='toolbar-border'></div>
        <div class="button-container">
          <button #dafYomi [style.border-bottom-color]=" isDafYomiCurrentTab ? 'blue' : 'transparent'"  (click)='handleTabClick(dafYomi)' color='primary' full  clear name='dafYomi'  ion-button  id="daf-yomi">
          DAF YOMI
        </button>
      <div id="button-divider"></div>
        <button #selectDaf [style.border-bottom-color]="!isDafYomiCurrentTab ? 'blue' : 'transparent'" (click)='handleTabClick(selectDaf)' [name]="'selectDaf'" color='primary' full clear  ion-button id="select-daf" >
          SELECT A DAF
        </button>

      </div>
    </div>
    <ion-list *ngIf="!isDafYomiCurrentTab">
         <button padding-right padding-left ion-item text-center  block outline (click)="handleSederClick(seder)" *ngFor="let seder of sedarim"  >
              <strong>{{ seder }}</strong>
        </button>  
    </ion-list>
    <ion-list *ngIf="isDafYomiCurrentTab">
      <div class="daf-yomi-button-container" >
        <button block outline color='secondary' (click)="handleDafYomiButtonClick(todaysTractate)" name='today' ion-button><strong>Today's Daf - {{todaysTractate.tractateName}} {{todaysTractate.pageNumber | gematria}} </strong></button>
        <button block outline color='secondary' (click)="handleDafYomiButtonClick(tomorrowsTractate)"  name='tomorrow' ion-button><strong>Tomorrow's Daf - {{tomorrowsTractate.tractateName}} {{tomorrowsTractate.pageNumber | gematria }} </strong></button>
        <button block outline color='secondary' (click)="handleDafYomiButtonClick(yesterdaysTractate)"  name='yesterday' ion-button><strong>Yeseterday's Daf - {{yesterdaysTractate.tractateName}} {{yesterdaysTractate.pageNumber | gematria }}</strong></button> 
        </div>
    </ion-list>



      
      <ion-menu type="overlay" [content]="mycontent">
        <ion-content>
          <ion-list>
              <button ion-button icon-end >
                  Phone Numbers
                 <ion-icon name="call"></ion-icon>
             </button>

             <button ion-button icon-end>
                About
                <ion-icon name="information-circle"></ion-icon>
              </button>

              <button ion-button icon-end >
                  Email
                  <ion-icon name="mail"></ion-icon>
              </button>

          </ion-list>
        </ion-content>
      </ion-menu>

  </ion-content>


  
  <ion-footer>
    <ion-toolbar>
      <ion-buttons id="footer-buttons"  >

        <button ion-button icon-end color="royal">
          About
          <ion-icon name="information-circle"></ion-icon>
        </button>

        <button ion-button icon-end color="royal">
             Phone Numbers
            <ion-icon name="call"></ion-icon>
        </button>


        <button ion-button icon-end color="royal">
          Email
          <ion-icon name="mail"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
