<ion-header>
  <ion-navbar color='primary' >
    <ion-title>
      Kol Avrohom
    </ion-title>
  </ion-navbar>

</ion-header>

  <ion-content>
<div id='custom-segement'>
      <div id='toolbar-border'></div>
      <div class="button-container">
        <button #dafYomi [style.border-bottom-color]=" isDafYomiCurrentTab ? 'blue' : 'transparent'"  (click)='handleTabClick(dafYomi)' color='primary' full  clear name='dafYomi'  ion-button  id="daf-yomi">
        DAF YOMI
      </button>
      <div id="button-divider"></div>
      <button #selectDaf [style.border-bottom-color]="!isDafYomiCurrentTab ? 'blue' : 'transparent'" (click)='handleTabClick(selectDaf)' [name]="'selectDaf'" color='primary' full clear  ion-button id="select-daf" >
        SELECT A DAF
      </button>

    </div>
    <!-- <div id="bottom-border"></div> -->
</div>
    <ion-list *ngIf="!isDafYomiCurrentTab">
         <button ion-item block outline (click)="handleSederClick(seder)" *ngFor="let seder of sedarim"  >
              {{ seder }}
        </button>  
    </ion-list>
    <ion-list *ngIf="isDafYomiCurrentTab">
      <div class="daf-yomi-button-container" >
        <button block outline color='secondary'  ion-button>Today's Daf</button>
        <button block outline color='secondary' ion-button>Tommrow's Daf</button>
        <button block outline color='secondary' ion-button>Yeseterday's Daf</button> 
        </div>
    </ion-list>
  </ion-content>
  
  <ion-footer>
    <ion-toolbar>
      <ion-buttons id="footer-buttons"  >

        <button ion-button icon-end color="royal">
          About
          <ion-icon name="information-circle"></ion-icon>
        </button>

        <button ion-button icon-end color="royal">
             Phone Numbers
            <ion-icon name="call"></ion-icon>
        </button>


        <button ion-button icon-end color="royal">
          Email
          <ion-icon name="mail"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
