page-tractate {
    
    ion-label {
        position: absolute;
        right: 0%;
        height: 100%;
    }
    .select-icon-inner{
        left: 1em !important;

    }
    .select-icon {
        position: static !important ;
    }
}
